<div class="card-group">
    <mat-card class="city-card">
        <mat-card-header>
            <mat-card-title>Firenze</mat-card-title>
            <mat-card-subtitle>Today</mat-card-subtitle>
            <button mat-fab color="primary">
                <mat-icon>location_city</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <img src="https://openweathermap.org/img/wn/02d@4x.png">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae a quo rem illum, molestias odio,
                doloremque
                error vitae ex inventore ut delectus quas eaque animi officia assumenda asperiores optio eos.
            </p>
            <mat-card-actions>
                <button mat-button>GET MORE INFO</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
    <mat-card class="city-card">
        <mat-card-header>
            <mat-card-title>Firenze</mat-card-title>
            <mat-card-subtitle>Today</mat-card-subtitle>
            <button mat-fab color="primary">
                <mat-icon>location_city</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <img src="https://openweathermap.org/img/wn/11d@4x.png">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae a quo rem illum, molestias odio,
                doloremque
                error vitae ex inventore ut delectus quas eaque animi officia assumenda asperiores optio eos.
            </p>
            <mat-card-actions>
                <button mat-button>GET MORE INFO</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
    <mat-card class="city-card">
        <mat-card-header>
            <mat-card-title>Firenze</mat-card-title>
            <mat-card-subtitle>Today</mat-card-subtitle>
            <button mat-fab color="primary">
                <mat-icon>location_city</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <img src="https://openweathermap.org/img/wn/09d@4x.png">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae a quo rem illum, molestias odio,
                doloremque
                error vitae ex inventore ut delectus quas eaque animi officia assumenda asperiores optio eos.
            </p>
            <mat-card-actions>
                <button mat-button>GET MORE INFO</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>